name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1
      
      - name: Compile resume
        uses: xu-cheng/latex-action@4.0.0
        with:
          root_file: Suyash_Srijan_Resume.tex
          
      - name: Setup Tailscale VPN
        uses: tailscale/github-action@v4.1.1
        with:
          oauth-client-id: ${{ secrets.TAILSCALE_CLIENT_ID }}
          oauth-secret: ${{ secrets.TAILSCALE_CLIENT_SECRET }}
          tags: tag:ci

      - name: Setup SSH known hosts
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KNOWN_HOSTS }}" >> ~/.ssh/known_hosts
    
      - name: Deploy changes
        run: |
          rsync -azh Suyash_Srijan_Resume.pdf --no-perms ${{ secrets.SSH_SERVER_USERNAME }}@${{ secrets.SSH_SERVER_TAILSCALE_IP }}:${{ secrets.SSH_SERVER_WEB_DOWNLOAD_STORAGE_PATH }}
